.about {
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20vh 5% 4rem;
  gap: 4vw;
  background-color: #0d1126; // Dark navy background
  color: #b0c5ff; // Light blue text

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // min-width: 280px;
    min-width: 14.6vw;
    // max-width: 650px;
    max-width: 42vw;
    height: auto;

    .hi {
      // font-size: 1.2rem;
      font-size: 1.2vw;
      color: white;
      margin-bottom: 0;
      padding-left: 6px;
    }

    .name {
      // font-size: 5.5rem;
      font-size: 6vw;
      font-weight: 700;
      color: #A8DAFF;
      margin: 0;
      padding-left: 0;
    }

    p {
      // font-size: 1rem;
      font-size: 1.05vw;
      // line-height: 1.6;
      color: #A8DAFF;
      padding-left: 6px;
      margin: 0 0 2vw;
    }
  }

  .about-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;

    img {
      // width: 220px;
      width: 14.6vw;
      // height: 260px;
      height: 17vw;
      object-fit: cover;
      border-radius: 12px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// // Tablet
// @media (max-width: 768px) {
//   .about-container {
//     flex-direction: column;
//     text-align: center;
//     padding: 120px 7% 3rem;
//   }

//   .about-text {
//     align-items: center;

//     .hi,
//     p {
//       padding-left: 0;
//     }

//     .name {
//       font-size: 4rem;
//     }
//   }
// }

// // Mobile
// @media (max-width: 480px) {
//   .about-container {
//     padding: 100px 5% 2rem;
//     gap: 2rem;
//   }

//   .about-text {
//     .name {
//       font-size: 2.5rem;
//     }

//     p {
//       font-size: 0.95rem;
//     }
//   }

//   .about-images img {
//     width: 150px;
//     height: 180px;
//   }
// }