.projects {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // padding: 4rem 10%;
  // color: #b0c5ff;
  // width: 75vh;
  // min-height: 80vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  gap: 1rem;
  padding: 4rem 10%;
  // background-color: grey;
  padding-left: 16%;
  padding-right: 16%;
  background-color: #0d1126;

  h2 {
    // font-size: 1.5rem;
    // align-self: flex-start;
    // padding-left: 2rem;
    // color: #8ea2ff;
    font-family: "Open Sans", sans-serif;
    width: 1000px;
    // align-items: flex-start;
    text-align: left;
    // padding-left: 1.5rem;
    font-size: 1.7rem;
    width: 1000px;
    color: #95B4E1 // height: 20px;
  }

  .projects-container {
    width: 1030px;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    // gap: 2rem;
    // margin-top: 1rem;
  }

  .project-card {
    background-color: rgba(43, 118, 173, 0.18);
    padding: 1.5rem;
    border-radius: 15px;
    width: 260px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    // border: 1px solid #b0c5ff;

    &:hover {
      transform: translateY(-15px);
    }

    .folder {
      height: 30px;
      width: 30px;
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0rem;

      .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        transition: transform 0.2s ease;

        img {
          height: 32px;
          width: 32px;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    h3 {
      font-size: 1.6rem;
      color: #A8DAFF;
      margin-top: 0.3rem;
      margin-bottom: 0rem;
    }

    .organization {
      font-size: 0.9rem;
      color: #95B4E1;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
    }

    .date {
      font-size: 0.85rem;
      color: #95B4E1;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    .description {
      font-size: 0.8rem;
      color: #F5F5F5;
      line-height: 1.4;
      flex-grow: 1;
      margin-top: 0.9rem;
      margin-bottom: 0rem;
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.7rem;
      margin-bottom: 0rem;

      .tech {
        font-size: 0.75rem;
        // background-color: rgba(255, 255, 255, 0.1);
        padding: 0.3rem 0.3rem;
        border-radius: 5px;
        color: #95B4E1;
      }
    }
  }

  .view-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .view-more {
      font-family: "Open Sans", sans-serif;
      width: 8rem;
      text-align: right;
      // margin-top: 1rem;
      font-size: 1rem;
      color: #95B4E1;
      cursor: pointer;
      background: none;
      font-weight: bold;
      border: none;
      transition: color 0.3s ease, transform 0.2s ease;

      &:hover {
        // color: #b0c5ff;
        transform: scale(1.1);
      }
    }
  }
}

// Responsive Styling
@media (max-width: 900px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }
}