.projects {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  gap: 1vw;
  padding: 4vw 5%;
  /* Adjust padding */
  background-color: #0d1126;
  overflow-x: auto;
  /* Allow horizontal scrolling when the container is too wide */

  h2 {
    font-family: "Open Sans", sans-serif;
    width: 90%;
    /* Make it responsive */
    max-width: 62vw;
    /* Optional: Set a max-width */
    text-align: left;
    font-size: 1.8vw;
    color: #95B4E1;
  }

  .projects-container {
    width: 62vw;
    /* Make the container width responsive */
    // max-width: 53.56vw;
    /* Optional: Set a max-width */
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    /* Ensure items wrap on small screens */
    gap: 1vw;
    /* Add spacing between cards */
  }

  .project-card {
    background-color: rgba(43, 118, 173, 0.18);
    padding: 1.5vw;
    border-radius: 1vw;
    width: 16.1vw;
    height: 15.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-1.2vw);
      cursor: pointer;
    }

    .folder {
      height: 2.2vw;
      width: 2.2vw;
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0rem;

      .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        transition: transform 0.2s ease;

        img {
          height: 2.2vw;
          width: 2.2vw;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    h3 {
      font-size: 1.7vw;
      color: #A8DAFF;
      margin-top: 0.4vw;
      margin-bottom: 0vw;
    }

    .organization {
      font-size: 0.9vw;
      color: #95B4E1;
      margin-top: 0.5vw;
      margin-bottom: 0vw;
      font-weight: 500;
    }

    .date {
      font-size: 0.85vw;
      color: #95B4E1;
      margin-top: 0vw;
      margin-bottom: 0vw;
      font-weight: 500;
    }

    .description {
      font-size: 0.8vw;
      color: #F5F5F5;
      line-height: 1.4;
      flex-grow: 1;
      margin-top: 0.9vw;
      margin-bottom: 0vw;
      font-weight: 500;
    }

    .tech-stack {
      display: flex;
      // flex-wrap: wrap;
      gap: 0.5vw;
      margin-top: 0.7vw;
      margin-bottom: 0vw;

      .tech {
        font-size: 0.75vw;
        padding: 0.3vw 0.3vw;
        border-radius: 0.26vw;
        color: #95B4E1;
      }
    }
  }

  .view-container {
    width: 90%;
    /* Make the view-container responsive */
    max-width: 62vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .view-more {
      font-family: "Open Sans", sans-serif;
      width: 8vw;
      text-align: right;
      font-size: 1vw;
      color: #95B4E1;
      cursor: pointer;
      background: none;
      font-weight: bold;
      border: none;
      transition: color 0.3s ease, transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// /* Make the project container scrollable on smaller screens */
// @media (max-width: 768px) {
//   .projects-container {
//     width: 100%;
//     flex-direction: column;
//     align-items: center;
//   }

//   .project-card {
//     width: 100%;
//     /* Make the project cards take full width on small screens */
//     max-width: 260px;
//     /* Optional: limit the maximum width of cards */
//     margin-bottom: 1rem;
//   }

//   .view-container {
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//   }
// }