@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-color: #0d1126;
$accent-color: #38bdf8;
$text-color: white;

body,
html {
  background-color: #0d1126;
  color: $text-color;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

// body, html {
//   overflow-x: hidden;
//   margin: 0;
//   padding: 0;
//   width: 100%;
// }